body{
	 background-image: url(rrs);
 }
h1
{
color:black;
margin-top:10px;
text-align:center;
}
h4
{
	margin-top:-34px;
	text-align:right;
	color:green;
}
h3
{
	margin-top:30px;
	text-align:right;
	color:green;
}
#ticket
{   padding-left:2px;
	margin-top:50px;
	margin-left:430px;
	/*margin-right:300px;*/
	border:2px solid black;
	background-color:#EECFA1;
	width:450px;
	height:auto;
	font-size:20px;
}